# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Python
__pycache__/
*.pyc

# Build artifacts
*.zip

# Mac system files
.DS_Store

# VS Code
.vscode/

# Node/npm (if you add frontend later)
node_modules/
dist/
