role_name           = "lambda-execution-role"
assume_role_policy  = file("trust-policy.json")
inline_policy       = file("inline-policy.json")
policy_arns         = [
  "arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole"
]
